div(class='header')
    a(href="/") 
        img(src='img/WebRpg.png')
    span Friends

    ul(class='nav')
        li: a(href='/') Home
        li: a(href='/about') What?
        li: a(href='/contact') Contact