fieldset(class='loginbox')
    legend Log In 
    form(action="/login", method="post")
        section
            label(for="name") User Name:  
            input(type="text", name="name", autocomplete="off", required) 

        section
            label(for="password") Password:  
            input(type="password", name="password", autocomplete="off", required) 

        section 
            label
            input(type="submit", value="LOGIN")

            small: em: a(href='/register') Register