// instructions, chat, login form
fieldset 
    legend Log In 
    form(action="post")
        label(for="name") Username:  
        input(type="text", name="name") 

        br

        label(for="password") Password:  
        input(type="password", name="password") 

        br

        input(type="submit", value="LOGIN")

fieldset
    legend Chat 
    div
        small: em This feature doesn't exist.