doctype html
html(lang="en")
    head
        include elements/head.pug
        link(rel="stylesheet", href="/css/index.css")
    body
        div(class='container')
            // header
            include elements/header.pug

            // body
            div(class='row')
                // lacks col class due to set width
                div
                    include elements/game.pug

                // sidebar!
                div(class='col')
                    // instructions, chat, login form
                    include elements/loginbox.pug

                    fieldset
                        legend Live Chat 
                        div
                            small: em This feature doesn't exist.

            // footer
            include elements/footer.pug