doctype html
html(lang="en")
    head
        include elements/head.pug
    body
        div(class='container')
            // header
            include elements/header.pug
            
            // body
            div(class='row')
                div(class='col')
                    h1 Log Into Your Account
                div(class='col')
                    include elements/loginbox.pug

            // footer
            include elements/footer.pug