*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: lightgrey;
    height: 100%;
    margin: 0;
}

/*Element Styles*/
canvas{
    border: solid 1px black;
}
hr{
    border: none;
    border-top: dashed 1px black;
}
legend{
    font-weight: bold;
}
a img{
    vertical-align: bottom; 
    display: inline-block;
}

/*Header*/
.top{
    display: flex;
}

/*Navigation*/
.nav{
    display: flex;
    list-style: none;
    align-content: space-between;
    margin: 0;
    padding: 0;
}
.nav li:not(:last-child):after{ 
    content: "/";
    padding: 0 6px;
}

/*Main nav*/
.nav.main{
    margin: 3px 0;
    padding: 2px;
    background-color: wheat;
}
/*Util nav*/
.nav.util{
    margin-left: auto;
}

/*Page structure styles*/
.container{
    width: 768px;
    height: 100%;
    margin: auto;
    padding: 6px;
    background-color: white;
}
.row{
    display: flex;
}
.col{
    flex: 1;
}
.col:not(:first-child){
    padding-left: 6px;
}